* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensures footer sticks to bottom using flexbox */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
}
